<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign education = data[1] | sort: 'startDate' | reverse %}
  {% for content in education %}
    <li class="list-group-item">
      <div class="row">
        <!-- Date and Location -->
        <div class="col-md-2 text-center" style="width: 75px">
          {% if content.startDate and content.startDate != '' %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' | append: endDate %}
          {% else %}
            {% assign date = null %}
          {% endif %}

          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  {% if date %}
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle"> {{ date }} </span>
                  {% endif %}
                </td>
              </tr>
              {% if content.location %}
                <tr>
                  <td>
                    <p class="location">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ content.location }}
                    </p>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <!-- Study Type, Institution, and Details -->
        <div
          class="col-md-10 dark-box mt-2 mt-md-0"
          style="margin: 0 auto; padding: 20px; background-color: #333; color: white; border-radius: 10px;"
        >
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {% if content.url %}
              <a href="{{ content.url }}" target="_blank">{{ content.studyType }}</a>
            {% else %}
              {{ content.studyType }}
            {% endif %}
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.institution }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.area }}</h6>

          <!-- List of Courses/Items -->
          {% if content.courses %}
            <ul class="items ml-1 ml-md-4">
              {% for item in content.courses %}
                <li>
                  <span class="item">{{ item }}</span>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </div>
      <div class="clearfix"></div>
      <!-- This will clear any potential float issues -->
    </li>
  {% endfor %}
</ul>
